<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355523878762-moh49cl8avrq5d96pep54tn0uf4kuf4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355523878762-moh49cl8avrq5d96pep54tn0uf4kuf4s</string>
	<key>API_KEY</key>
	<string>AIzaSyAqYGW4G_GbQQZpbUAh5Bwo0syIqsB4VUU</string>
	<key>GCM_SENDER_ID</key>
	<string>355523878762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Vyvamind</string>
	<key>PROJECT_ID</key>
	<string>vyvamind-83475</string>
	<key>STORAGE_BUCKET</key>
	<string>vyvamind-83475.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355523878762:ios:2bea6a5c1c7c7b6b960f13</string>
</dict>
</plist>